{include file="public/_head"/}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        {include file="public/_left" /}
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;管理员管理
                    </li>
                    <li>管理员列表</li>
                </ul>
            </div>
            <!-- Page Body -->
            <div class="page-body">
                <a href="{:url('admin/admin/add')}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;添加管理员</a>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget">
                            <div class="widget-header">
                                <span class="widget-caption">管理员列表</span>
                                <div class="widget-buttons">
                                    {$admins->render()|raw|replace}
                                </div>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>昵称</th>
                                        <th>邮箱</th>
                                        <th>状态</th>
                                        <th>是否为超级管理员</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    {volist name="admins" id="admin"}
                                        <tr>
                                            <td>{$admin.id}</td>
                                            <td>{$admin.username}</td>
                                            <td>{$admin.nickname}</td>
                                            <td>{$admin.email}</td>
                                            <td >{if $admin.status == 1}<p class="btn btn-sm btn-blue admin-status" isStatus="{$admin.status}" dataId="{$admin.id}">开启
                                                </p>{else /}<p class="btn btn-sm admin-status" isStatus="{$admin.status}" dataId="{$admin.id}" >未启动</p>{/if}
                                            </td>
                                            <td >{if $admin.is_super == 1}<p class="btn btn-sm btn-blue admin-super" isSuper="{$admin.is_super}" dataId="{$admin.id}">超级管理员
                                            </p>{else /}<p class="btn btn-sm admin-super" isSuper="{$admin.is_super}" dataId="{$admin.id}" >普通管理员</p>{/if}
                                            </td>
                                            <td>
                                                <a href="{:url('admin/admin/edit',['id'=>$admin.id])}" class="btn btn-sm btn-warning">编辑</a>
                                                <a href="#"  class="btn btn-sm btn-danger admin-del" dataId="{$admin.id}" >删除</a>
                                            </td>
                                        </tr>
                                    {/volist}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

{include file="public/_js" /}
<script>
    $(function () {
        $('.admin-status').click(function(){
            var id =$(this).attr('dataId');
            var status =$(this).attr('isStatus');
            if(status == 1){
                var msg = '确定启动吗?';
            }else{
                var msg = '确定关闭吗?';
            }
            layer.confirm(msg,{
                title:'状态操作',
                icon:3
            },function (index) {
                layer.close(index);
                $.ajax({
                    url:"{:url('admin/admin/status')}",
                    type:'post',
                    data:{id:id,status:status},
                    dataType:'json',
                    success:function(data){
                        if(data.code == 1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:2000
                            },function(){
                                location.href = data.url;
                            });
                        }else{
                            layer.open({
                                title:"操作失败",
                                content:data.msg,
                                icon:5,
                                anim:6
                            })
                        }
                    }
                });
            });
            return false;
        });
        $('.admin-super').click(function(){
            var id =$(this).attr('dataId');
            var is_super =$(this).attr('isSuper');
            if(is_super == 1){
                var msg = '确定开启超级管理吗?';
            }else{
                var msg = '确定关闭超级管理吗?';
            }
            layer.confirm(msg,{
                title:'状态操作',
                icon:3
            },function (index) {
                layer.close(index);
                $.ajax({
                    url:"{:url('admin/admin/super')}",
                    type:'post',
                    data:{id:id,is_super:is_super},
                    dataType:'json',
                    success:function(data){
                        if(data.code == 1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:2000
                            },function(){
                                location.href = data.url;
                            });
                        }else{
                            layer.open({
                                title:"操作失败",
                                content:data.msg,
                                icon:5,
                                anim:6
                            })
                        }
                    }
                });
            });
            return false;
        });
        $('.admin-del').click(function () {
            var id =$(this).attr('dataId');
            layer.confirm('确定要删除吗',{
                    title:'删除管理员',
                    icon:3
                },function (index) {
                    layer.close(index);
                    $.ajax({
                        url:"{:url('admin/admin/del')}",
                        type:'post',
                        data:{id:id},
                        dataType:'json',
                        success:function (data) {
                            if(data.code == 1){
                                layer.msg(data.msg,{
                                    icon:6,
                                    time:2000
                                },function(){
                                    location.href = data.url;
                                })
                            }else{
                                layer.open({
                                    title:'删除失败',
                                    content:data.msg,
                                    icon:5,
                                    anim:6
                                });
                            }
                        }
                    });
            });
            return false;
        });
    });
</script>
</body>
<!--  /Body -->
</html>
